In [5]:
import pandas as pd

# Read the CSV files into dataframes
df1 = pd.read_csv('data/august.csv')
df2 = pd.read_csv('data/generated.csv')

# Concatenate the two dataframes
concatenated_df = pd.concat([df1, df2])

# Drop duplicates based on all columns (date, name, location, url)
unique_events_df = concatenated_df.drop_duplicates()

# Print the result
unique_events_df.head()

,date,name,location,url
0,2023-08-04,nice event,arci nice,https:nice-arci.com
1,2023-08-04,Summer Music Fest,Greenfield Park,https://summermusicfestny.com
2,2023-08-20,TechX Conference,Silicon Valley Convention Center,https://techxconf.com
3,2023-08-20,Foodie's Delight,Downtown Culinary District,https://foodiesdelightchicago.com
4,2023-08-20,Art in the Park,Central Park,https://artintheparkldn.com

In [5]:
from datetime import datetime

current_date = datetime.now()
current_month_name = current_date.strftime('%Y')
current_month_name

'2023'

In [18]:
from datetime import datetime,date
import pandas as pd

current_year = datetime.now().strftime('%Y')

for month, scraped_by_month in scraped.groupby(scraped['date_and_time'].dt.month):
    stored_df = pd.read_csv(f'../data/{current_year}/{month}.csv',parse_dates=["date_and_time"])
    concat = pd.concat([stored_df, scraped_by_month])
    concat.drop_duplicates(inplace=True)
    concat.to_csv(f'../data/{current_year}/{month}.csv',index=False)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
33
34